body {
    min-height: 100vh;
    min-width: 900px;
    background: radial-gradient(aquamarine -20%, black 80%);
}

.field {
    display: none;
}

.card {
    display: inline-block;
    height: 200px;
    width: 200px;
    perspective: 1000px;
    background-color: transparent;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    background: radial-gradient(darkmagenta 50%, black);
}

.card-front {
    background: radial-gradient(white, darkmagenta);
    transform: rotateY(180deg);
}

img {
    margin-top: 25px;
    width: 75%;
    height: 75%;
    border-radius: 5px;
}

#info {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
    width: 500px;
    height: 400px;
    text-align: center;
    font-family: fantasy;
    background-color: darkmagenta;
    box-shadow: 0 0 20px 20px darkmagenta,
        0 0 20px 20px black;
}

button {
    font-size: 45px;
    border: 0;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 0 0 10px 10px lightgray;
}

button:hover {
    background-color: white;
    box-shadow: 0 0 10px 10px white;
    font-size: 50px;
}